.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 450px;
    width: 430px;
    height: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header {
    font-size: 24px;
}

.subHeader {
    font-size: 18px;
}


@media (max-width: 1500px) {
    .wrap {
        height: 80px;
        width: 350px;
        justify-content: space-evenly;
    }   

    .header {
        font-size: 18px;
    }
    .subHeader {
        font-size: 12px;
    }

    .wrap img {
        width: 65px;
        height: 40px;
    }

    .content{
        justify-content: initial;
    }

}


@media (max-width: 500px) {
    .wrap {
        justify-content: space-evenly;
        width: 50%;
    }

    .header {
        font-size: 10px;
    }
    .subHeader {
        font-size: 8px;
    }

    .wrap img {
        width: 35px;
        height: 20px;
    }

    .content{
        justify-content: initial;
    }

}
  